FABRIC_VERSION=2.5.16
FABRIC_CA_VERSION=1.5.22
FABRIC_CHANNEL_NAME=agritrace
FABRIC_CHAINCODE_NAME=agritrace
FABRIC_CHAINCODE_VERSION=1.0
FABRIC_CHAINCODE_SEQUENCE=1
RELAYER_NAME=agri-relayer
RELAYER_SECRET=relayerpw
