DATABASE_URL="postgresql://postgres:123456@localhost:5432/argi_traceability?schema=public"
JWT_SECRET="rq83Rf1o0TcBYdSVxHyYt/NYqwDLQ2W1qY7EQVaYKQMKVd1tfl5ZkdbL7EFFWt2nrT2ytMMOismrt+LhAaMqaXQ=="
JWT_EXPIRES_IN="1h"
PORT=3000
ss